@media screen and (min-width: 960px) {
  .slide#scene .scene .landscape,
  .slide#scene .scene #index-map {
    width: 50%;
    padding-bottom: 40%;
    float: left;
  }
}
@media screen and (max-width: 960px) {
  .slide#scene .scene .landscape,
  .slide#scene .scene #index-map {
    width: 100%;
    padding-bottom: 50%;
    float: left;
  }
}
.slide#scene .scene .landscape {
  float: left;
  background-image: url(../resource/picture/scene1.jpg);
  background-origin: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide#scene .scene .landscape .info {
  position: absolute;
  z-index: 100000;
  top: 64px;
  color: #fff;
}
.slide#scene .scene #index-map {
  background: gray;
}
.slide#scene .banner {
  position: relative;
  width: 100%;
  height: 64px;
  background: lightblue;
}
.slide#hotel h1 {
  text-align: center;
}
.slide#hotel .content-wrapper {
  height: 100%;
  position: relative;
}
@media screen and (min-width: 960px) {
  .slide#hotel .content-wrapper {
    width: 80%;
    max-width: 1260px;
    min-width: 768px;
    margin: auto;
    position: relative;
    padding: 32px;
  }
}
@media screen and (max-width: 960px) {
  .slide#hotel .content-wrapper {
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
  }
}
.slide#hotel .content-wrapper .picture {
  background: yellow;
  border: 1px dotted red;
  box-sizing: border-box;
}
@media screen and (min-width: 960px) {
  .slide#hotel .content-wrapper .picture {
    width: 50%;
    padding-bottom: 25%;
    float: left;
    position: relative;
  }
}
@media screen and (max-width: 960px) {
  .slide#hotel .content-wrapper .picture {
    width: 100%;
    padding-bottom: 50%;
    float: left;
    position: relative;
  }
}
.slide#hotel .content-wrapper .picture .info {
  position: absolute;
  z-index: 100000;
  top: 64px;
  color: #fff;
}
.slide#hotel .content-wrapper .info {
  position: absolute;
  z-index: 100000;
  top: 64px;
  color: #fff;
}
.slide#hotel .banner {
  position: relative;
  width: 100%;
  height: 64px;
  background: palevioletred;
}
@media screen and (min-width: 960px) {
  article {
    padding-left: 48px;
  }
}
@media screen and (max-width: 960px) {
  article {
    padding: 2%;
  }
}
article h1 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 200%;
  padding-bottom: 16px;
  padding-left: 16px;
}
article .meta-data {
  padding: 12px;
  margin: 16px 0;
  border-bottom: 1px solid #424242;
  font-size: .8rem;
}
article .meta-data span {
  margin: 0 8px;
}
article .meta-data .post-info {
  float: left;
  line-height: 150%;
}
article .meta-data .view-number {
  float: right;
}
article .meta-data .love {
  float: right;
}
article #article-content {
  line-height: 150%;
  padding: 32px 16px;
}
article .share {
  margin: 24px 0;
}
@media screen and (max-width: 860px) {
  aside #static-map,
  aside #recommand-wrapper {
    padding: 4%;
  }
}
aside #static-map h3 {
  line-height: 150%;
}
aside #static-map h3 li {
  padding: 0 8px 0 4px;
  display: inline-block;
  color: red;
}
aside #static-map #map {
  width: 100%;
  padding-bottom: 61.8%;
  background: gray;
}
aside #static-map .address {
  line-height: 150%;
  padding: 24px 0;
  font-size: .8rem;
}
aside #static-map .address .title {
  font-weight: bold;
  padding-right: 6px;
}
aside #static-map .address li {
  padding: 0 6px 0 4px;
  display: inline-block;
  color: red;
}
aside #recommand-wrapper {
  margin-bottom: 42px;
  padding-top: 16px;
  border-top: 1px solid #424242;
}
aside #recommand-wrapper h3 {
  line-height: 150%;
}
aside #recommand-wrapper h3 li {
  padding: 0 8px 0 4px;
  display: inline-block;
  color: red;
}
aside #recommand-wrapper .recommand {
  text-align: center;
}
#hotel-list {
  width: 100%;
  text-align: center;
}
.editor-wrapper .editor,
.managment-wrapper .editor,
.editor-wrapper .managment,
.managment-wrapper .managment {
  padding-left: 42px;
}
.editor-wrapper .editor h1,
.managment-wrapper .editor h1,
.editor-wrapper .managment h1,
.managment-wrapper .managment h1 {
  padding: 12px 0;
  width: 480px;
  border-bottom: 1px solid gray;
}
.editor-wrapper .editor form,
.managment-wrapper .editor form,
.editor-wrapper .managment form,
.managment-wrapper .managment form {
  margin-top: 24px;
}
.editor-wrapper .editor form .input-group,
.managment-wrapper .editor form .input-group,
.editor-wrapper .managment form .input-group,
.managment-wrapper .managment form .input-group {
  width: 100%;
  padding: 8x 0 0 0;
}
.editor-wrapper .editor form .input-group input[type="text"],
.managment-wrapper .editor form .input-group input[type="text"],
.editor-wrapper .managment form .input-group input[type="text"],
.managment-wrapper .managment form .input-group input[type="text"] {
  width: 320px;
  display: inline-block;
}
.editor-wrapper .editor form .input-group input[type="text"]#publish-time,
.managment-wrapper .editor form .input-group input[type="text"]#publish-time,
.editor-wrapper .managment form .input-group input[type="text"]#publish-time,
.managment-wrapper .managment form .input-group input[type="text"]#publish-time,
.editor-wrapper .editor form .input-group input[type="text"]#author,
.managment-wrapper .editor form .input-group input[type="text"]#author,
.editor-wrapper .managment form .input-group input[type="text"]#author,
.managment-wrapper .managment form .input-group input[type="text"]#author {
  width: 150px;
}
.editor-wrapper .editor form .input-group input[type="text"]#publish-time:last-child,
.managment-wrapper .editor form .input-group input[type="text"]#publish-time:last-child,
.editor-wrapper .managment form .input-group input[type="text"]#publish-time:last-child,
.managment-wrapper .managment form .input-group input[type="text"]#publish-time:last-child,
.editor-wrapper .editor form .input-group input[type="text"]#author:last-child,
.managment-wrapper .editor form .input-group input[type="text"]#author:last-child,
.editor-wrapper .managment form .input-group input[type="text"]#author:last-child,
.managment-wrapper .managment form .input-group input[type="text"]#author:last-child {
  margin-left: 20px;
}
.editor-wrapper .editor form .input-group.radio span,
.managment-wrapper .editor form .input-group.radio span,
.editor-wrapper .managment form .input-group.radio span,
.managment-wrapper .managment form .input-group.radio span {
  display: inline-block;
  margin: 0 12px;
}
.editor-wrapper .editor form .input-group.radio label,
.managment-wrapper .editor form .input-group.radio label,
.editor-wrapper .managment form .input-group.radio label,
.managment-wrapper .managment form .input-group.radio label {
  font-size: .8rem;
  line-height: 150%;
  padding: 0 8px;
}
.editor-wrapper .editor form .input-group textarea,
.managment-wrapper .editor form .input-group textarea,
.editor-wrapper .managment form .input-group textarea,
.managment-wrapper .managment form .input-group textarea {
  width: 640px;
  resize: none;
  height: 96px;
  box-sizing: border-box;
}
.upload-area {
  margin: 24px 0;
  padding: 24px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 640px;
}
.upload-area .button-area {
  display: block;
}
.upload-area #picture-area {
  background: #f5f5f5;
  padding: 24px;
  margin: 12px 0 0 0;
  max-width: 640px;
  border-radius: 4px;
  border: 1.5px dotted gray;
}
header.map {
  background: transparent;
  box-shadow: none;
  width: auto !important;
  position: absolute;
  max-width: 320px !important;
}
#map-cantainer {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0;
  background: gray;
}
#map-cantainer #map {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}
#map-cantainer #switch {
  z-index: 10;
  position: absolute;
  right: 16px;
  top: 16px;
  height: 48px;
  background: #f5f5f5;
  color: #424242;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 2px;
}
#map-cantainer #switch span {
  box-sizing: border-box;
  height: 48px;
  width: 81px;
  display: inline-block;
  line-height: 48px;
  font-size: 12px;
  text-align: center;
  float: left;
}
#map-cantainer #switch span:hover {
  background: rgba(0, 0, 0, 0.1);
}
#map-cantainer #switch span.checked {
  border-bottom: 4px solid #4d90fe;
}
#map-cantainer #switch span:first-child {
  border-right: 1px solid #8f8f8f;
}
#map-cantainer #switch span:last-child {
  border-left: 1px solid #8f8f8f;
}
#map-cantainer .logo {
  position: absolute;
  bottom: 32px;
  height: 64px;
  width: auto;
}
@media screen and (min-width: 640px) {
  #map-cantainer .logo {
    right: 32px;
  }
}
@media screen and (max-width: 640px) {
  #map-cantainer .logo {
    right: 16px;
  }
}
#map-cantainer .logo a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 8px 0;
}
#map-cantainer .logo a img {
  height: inherit;
  width: auto;
}
@media screen and (min-width: 640px) {
  body.login {
    background: #f5f5f5;
  }
}
@media screen and (max-width: 640px) {
  body.login {
    background: #fff;
  }
}
main.login {
  background: #fff;
  margin-top: 15% !important;
  position: relative;
  box-sizing: border-box;
}
@media screen and (min-width: 640px) {
  main.login {
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    box-shadow: 1px 1px 8px 0px #b3b3b3;
    width: 320px;
    margin: auto;
    padding: 48px 48px;
  }
}
@media screen and (max-width: 640px) {
  main.login {
    width: 100%;
    max-width: 480px;
    margin: auto;
    padding: 32px;
  }
}
main.login form {
  width: 100%;
}
main.login form input {
  width: 100%;
  margin: 12px 0;
  box-sizing: border-box;
}
main.login form button {
  margin-top: 24px;
  width: 100%;
}
