.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.managment.toolbar {
  position: fixed;
  left: 0;
  height: 100%;
  background: #495b64;
}
.managment-wrapper {
  position: absolute;
  left: 84px;
  right: 0;
  padding: 0 36px 48px 36px;
  width: auto;
  overflow: auto;
}
.managment-wrapper header {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 16px 0 32px 0;
}
.managment-wrapper header .hu-ui.user {
  position: relative;
  float: right;
  right: 32px;
}
.managment-wrapper header .help {
  float: right;
}
.managment-wrapper .managment {
  min-width: 640px;
  max-width: 960px;
  width: 70%;
}
.managment-wrapper .editor {
  width: 80%;
  max-width: 700px;
  min-width: 640px;
}
.managment-wrapper .managment,
.managment-wrapper .editor {
  position: relative;
}
.managment-wrapper .managment .table-header .button-group,
.managment-wrapper .editor .table-header .button-group {
  right: 0;
  position: absolute;
  padding: 8px 0;
}
.managment-wrapper .managment .table-header .button-group .button,
.managment-wrapper .editor .table-header .button-group .button {
  width: 24px;
  height: 24px;
  float: right;
  font-size: 18px;
  color: gray;
  margin: 0 8px;
  padding: 3px;
  cursor: pointer;
}
.managment-wrapper .managment .table-header .button-group .button:active,
.managment-wrapper .editor .table-header .button-group .button:active {
  color: #5a5a5a;
}
.managment-wrapper .managment .auth .checkbox,
.managment-wrapper .editor .auth .checkbox {
  margin-left: 8px;
}
.managment-wrapper .managment .input #title,
.managment-wrapper .editor .input #title {
  min-width: 280px;
  max-width: 360px;
  width: 50%;
}
.managment-wrapper .managment .input .dropdown,
.managment-wrapper .editor .input .dropdown {
  margin: 0 12px;
}
.managment-wrapper .managment .input .dropdown:first,
.managment-wrapper .editor .input .dropdown:first {
  margin: 0;
}
.managment-wrapper .managment .input-group .geo-data.label,
.managment-wrapper .editor .input-group .geo-data.label {
  display: inline-block;
  margin-left: 32px;
}
.managment-wrapper .managment .checkbox:last-child,
.managment-wrapper .editor .checkbox:last-child {
  padding-left: 12px;
}
.managment-wrapper .managment .rich-editor-wrapper,
.managment-wrapper .editor .rich-editor-wrapper {
  width: 100%;
  margin-bottom: 32px;
}
.managment-wrapper .managment .rich-editor-wrapper #rich-editor,
.managment-wrapper .editor .rich-editor-wrapper #rich-editor {
  height: 240px;
}
.managment-wrapper .managment .rich-editor-wrapper .drag-bar,
.managment-wrapper .editor .rich-editor-wrapper .drag-bar {
  border: 1px solid #cbcbcb;
  padding: 6px;
  text-align: center;
}
.managment-wrapper .managment .rich-editor-wrapper .drag-bar span,
.managment-wrapper .editor .rich-editor-wrapper .drag-bar span {
  width: 100%;
  cursor: n-resize;
}
.managment-wrapper .managment table .loader,
.managment-wrapper .editor table .loader,
.managment-wrapper .managment table .message,
.managment-wrapper .editor table .message {
  margin: 24px auto;
}
.managment-wrapper .managment table tfoot .meta-data,
.managment-wrapper .editor table tfoot .meta-data {
  float: left;
}
