@import "param.less";
header{
    width:100%;
    height: @menuHeight;
    position: relative;
    box-shadow: 0px 0 11px 0px lighten(@lightBlack,40%);
    min-width: 640px;
    z-index: 10000;
    .logo{
        position: absolute;
        @media screen and (min-width:640px){
            left:@menuHeight*0.5;
        }
        @media screen and (max-width:640px){
            left:@menuHeight*0.25;
        }
        height:100%;
        width:auto;
        a{
            display: block;
            height:100%;
            width:100%;
            padding: 8px 0;
            img{
                height:inherit;
                width:auto;
            }
        }
    }
    .tabs{
        position: absolute;
        @media screen and (min-width:640px){
            right:@menuHeight*0.5;
        }
        @media screen and (max-width:640px){
            right:@menuHeight*0.25;
        }
        height:@menuHeight;
        cursor: pointer;
        .tab{
            display: block;
            float:left;
            height:100%;
            padding: 0 32px;
            background:lighten(@lightBlack,70%);
            font-size: 1rem;
            &:hover{
                background:lighten(@lightBlack,65%);
            }
            &:active{
                background:lighten(@lightBlack,60%);
            }
            span{
                height:@menuHeight;
                display: table-cell;
                vertical-align: middle;
                cursor: pointer;
            }
        }
    }
}
footer{
    font-family:inherit;
    font-size:.8rem;
    line-height: 150%;
    text-align: center;
    padding: 24px;
    border-top:10px solid blue;
}
.slide{
    width:100%;
    position: relative;
}
button,.btn,input[type="file"],input[type='button']{
    border: 1px solid lighten(@lightBlack,50%);
    border-radius: 3px;
    padding: 8px 24px;
    background: @white;
    font-size: .8rem;
    margin:12px 0;
    letter-spacing: 4px;
    cursor: pointer;
    background:@skyBlue;
    border: 1px solid darken(@skyBlue,5%);
    color:@white;
    &:active{
        will-change:background;
        transition: border .5s ease-in-out;
        background:darken(@skyBlue, 10%);
    }
    &:hover{
        will-change: background;
        transition:background .5s ease-in-out;
        background:darken(@skyBlue,5%);
    }
}
input[type='text'], textarea,input[type='password']{
    border: 1px solid lighten(@lightBlack,50%);
    border-radius: 3px;
    padding: 8px 12px;
    font-size: .8rem;
    &:active{
        transition: border .5s ease-in-out;
        border: 1px solid @skyBlue;
    }
    &:hover{
        //
    }
}
//button
a.btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color:@lightBlack;
    display: inline-block;
    background: @skyBlue;
}
.btn{
    cursor: pointer;
}

//current position
.position{
    width:100%;
    padding:24px;
}
//share
.share{
    margin:24px;
}
.circle-thumnail{
    display: inline-block;
    font-size: 0;
    line-height:0;
    width:30px;
    height:30px;
    margin:6px;
    border-radius: 15px;
    overflow: hidden;
    img{
        height:100%;
        width:auto;
    }
    &:hover{
        img{
            filter: grayscale(100%);
            transition:  filter .5s ease-in-out;
        }
    }
    &:not(:hover){
        img{
            filter: grayscale(0%);
            transition:  filter .5s ease-in-out;   
        }
    }
}
//hotel item
.hotel-item{
    box-sizing: border-box;
    display:inline-block;
    @media screen and (min-width:490px){
        width:22%;
        margin:12px;
        min-width: 200px;
        max-width: 320px;
    }
    @media screen and (max-width:490px){
        width:100%;
        margin-bottom: 24px;
    }
    border: 1px solid gray;
    border-radius:2px;
    height:auto;
    .hotel-image{
        width:100%;
        padding: 26%;
        border-radius:2px 2px 0 0;
        background-image: url(../resource/picture/scene1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hotel-info{
        padding:12px 12px 0 12px;
        text-align: left;
        h4{
            line-height: 150%;
        }
        p{
            line-height: 150%;
        }
        li{
            list-style: none;
        }
    }
    .toolbar{
        padding: 6px 12px 12px 12px;
        span{
            display: block;
            float:right;
            padding: 8px;
        }
    }
}
//管理页面菜单
.managment .menu{
    position: fixed;
    width:240px;
    height:100%;
    z-index: 1;
    padding-top: 64px;
    background:@white;
    border-right:1px solid lighten(@lightBlack,50%);
    div{
        width:100%;
        line-height:42px;
        text-align: center;
        &:hover,&.click{
           background:lighten(@lightBlack,80%); 
        }
        &:active{
            background: lighten(@lightBlack,70%);
        }
        span{
            display: block;
            color:@lightBlack;
        }
    }
}
//managment page status
.status-bar{
    width:100%;
    height:32px;
    border-top:1px solid lighten(@lightBlack, 50%); 
    bottom: 0;
    position:fixed;
}
//管理页面中的表格
.table{
    padding: 32px 0;
    .filter{
        padding: 12px;
        color:lightblue;
        span{
            padding: 3px 6px;
            margin:0 12px;
            &:active{
                background: lighten(@lightBlack, 70%);
            }
        }
    }
    table{
        width:80%;
        max-width: 840px;
        min-width: 720px;
        border-collapse: collapse;
        tr{
            width: 100%;
            td{
                text-align: left;
                line-height: 150%;
                padding: 6px 12px;
                border-collapse: collapse;
                font-size: .8rem;
                &.index{width:10%}
                &.title{width:35%}
                &.time{width:15%}
                &.visit{width:15%}
                &.toolbar{width:25%}
            }
            &:hover{
                background: lighten(@lightBlack,85%);
            }
        }
        .thead{
            background: lighten(@lightBlack, 80%);
            border-top:2px solid   lighten(@lightBlack, 40%);
            td{
               line-height: 150%;
               font-weight: bold;
            }
        }
        tr{
            border-top:1px solid black;
            &:last-child{
                border-bottom: 2px solid lighten(@lightBlack, 40%); 
            }
            td.toolbar{
                span{
                    padding: 0 4px;
                }
            }
        }
    }
}
