.clearfix {
  &:after {
    content: "";
        display: block;
    clear: both;
    }
}

.managment.toolbar {
  position: fixed;
  left: 0;
  height: 100%;
  background: #495b64;
}

.managment-wrapper {
  position: absolute;
  left: 84px;
  right: 0;
  padding: 0 36px 48px 36px;
  width: auto;
  overflow: auto;
  header {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 16px 0 32px 0;
    .hu-ui.user {
      position: relative;
      float: right;
      right: 32px;
        }
    .help {
      float: right;
    }
    }
  .managment {
    min-width: 640px;
    max-width: 960px;
    width: 70%;
    }
  .editor {
    width: 80%;
    max-width: 700px;
    min-width: 640px;
  }
  .managment,
  .editor {
        position: relative;
    .table-header {
      .button-group {
        right: 0;
        position: absolute;
        padding: 8px 0;
        .button {
          width: 24px;
          height: 24px;
          float: right;
          font-size: 18px;
          color: gray;
          margin: 0 8px;
          padding: 3px;
                    cursor: pointer;
          &:active {
            color: darken(gray, 15%);
          }
        }
      }
    }
    .auth .checkbox {
      margin-left: 8px;
    }
    .input {
      #title {
        min-width: 280px;
        max-width: 360px;
        width: 50%;
      }
      .dropdown {
        margin: 0 12px;
        &:first {
          margin: 0;
        }
      }
    }
    .input-group {
      .geo-data.label {
        display: inline-block;
        margin-left: 32px;
      }
    }
    .checkbox:last-child {
      padding-left: 12px;
    }
    .rich-editor-wrapper {
      width: 100%;
      margin-bottom: 32px;
      #rich-editor {
        height: 240px;
      }
      .drag-bar {
        border: 1px solid #cbcbcb;
        padding: 6px;
        text-align: center;
        span {
          width: 100%;
          cursor: n-resize;
        }
      }
    }
    table {
      .loader,
      .message {
        margin: 24px auto;
      }
      tfoot {
        .meta-data {
          float: left;
        }
      }
        }
    }
}