.hu-ui.user .portrait {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  float: left;
}
.hu-ui.user a {
  margin: auto 6px;
  display: inline-block;
  float: left;
  line-height: 36px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
}
.hu-ui.user a.logout:hover {
  text-decoration: underline !important;
}
.hu-ui.user a.logout:active {
  color: #495b64;
}
.hu-ui.menu-item {
  width: 84px;
  height: 104px;
  position: relative;
  color: white;
  background: #495b64;
  box-sizing: border-box;
  padding: 6px 0;
  text-align: center;
  will-change: background;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.hu-ui.menu-item .icon {
  padding: 8px 12px;
  width: auto;
  font-size: 36px;
  color: inherit;
  display: inline-block;
  text-align: center;
}
.hu-ui.menu-item .icon li {
  display: inline-block;
}
.hu-ui.menu-item .data {
  color: white;
  width: 100%;
  position: relative;
  top: -8px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}
.hu-ui.menu-item:hover {
  will-change: background;
  transition: background 0.2s ease-in-out;
  background: #3e4e55;
}
.hu-ui.menu-item.active {
  background: #1b2b33;
}
.hu-ui.menu-item.active .icon li {
  color: #6ea0b9;
}
.hu-ui.menu-item.active .data {
  color: #6ea0b9;
}
.hu-ui.menu-item.disabled {
  background: #a7a7a7;
  color: gray;
}
.hu-ui.menu-item.disabled .data {
  color: gray;
}
.hu-ui.menu-item.disabled li {
  color: gray;
}
.action .action-text,
.action a {
  font-size: .9rem;
  cursor: pointer;
  padding: 0 6px;
  color: #4183c4;
  user-select: none;
}
.action .action-text:active,
.action a:active {
  color: #6ea0b9;
}
.ui.pagination.menu .item.active {
  border: none;
}
#geo-picker-pannel {
  background: white;
  position: fixed;
  right: -200%;
  height: 100%;
  top: 0;
  max-width: 480px;
  width: 100%;
  box-shadow: -1px 0 15px 1px #d7d7d7;
  padding: 24px;
  z-index: 102;
}
#geo-picker-pannel .close-wrapper {
  width: 100%;
  padding: 24px 8px;
  box-sizing: border-box;
}
#geo-picker-pannel .close-wrapper .close {
  display: block;
  float: left;
  color: #cdcdcd;
  font-size: 24px;
}
#geo-picker-pannel .close-wrapper .close:hover {
  color: #b3b3b3;
}
#geo-picker-pannel .close-wrapper .close:active {
  color: #9a9a9a;
}
#geo-picker-pannel .map-wrapper {
  width: 100%;
  position: relative;
}
#geo-picker-pannel .map-wrapper #map {
  padding-bottom: 61.8%;
  width: 100%;
  background: gray;
  margin: 12px 0;
  border: 1px solid #e6e6e6;
}
#geo-picker-pannel .map-wrapper #maxisize {
  position: absolute;
  top: 12px;
  right: 7px;
  font-size: 24px;
  color: gray;
}
#geo-picker-pannel #pickerPoint {
  padding: 6px;
}
#geo-picker-pannel #pickerPoint .data {
  font-size: .8rem;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  color: red;
  padding: 6px;
  border-radius: 3px;
}
#geo-picker-pannel .toolbar {
  position: relative;
  margin: 24px 0;
  box-sizing: border-box;
  width: 100%;
}
#geo-picker-pannel .toolbar .btn {
  float: right;
}
.panel-close {
  right: -100%;
}
.icon-btn-wrapper {
  float: right;
  margin-right: 12px;
}
.icon-btn-wrapper .icon.button {
  font-size: 24px;
  cursor: pointer;
  color: #495b64;
}
.icon-btn-wrapper .icon.button:active {
  color: #77909c;
}
.rotate-180deg {
  transform: rotateZ(180deg);
  transform-origin: 50% 25%;
  transition: transform 0.6s ease-in-out;
}
.button.chearup {
  background: transparent;
  border: 1px solid red;
}
.button.chearup i {
  color: red;
}
